PRAGUE_OV12870E3_LITEON=/odm/etc/camera/mmi7cm/prague_ov12870e3_liteon/
PRAGUE_OV12A10_LITEON=/odm/etc/camera/mmi7cm/prague_ov12a10_liteon/
PRAGUE_OV12A10_SUNNY=/odm/etc/camera/mmi7cm/prague_ov12a10_sunny/
PRAGUE_OV12A10_FOXCONN=/odm/etc/camera/mmi7cm/prague_ov12a10_foxconn/
PRAGUE_IMX386E3_OFILM=/odm/etc/camera/mmi7cm/prague_imx386e3_ofilm/
PRAGUE_IMX386E3_SUNNY=/odm/etc/camera/mmi7cm/prague_imx386e3_sunny/
PRAGUE_IMX486_OFILM=/odm/etc/camera/mmi7cm/prague_imx486_ofilm/
PRAGUE_IMX486_SUNNY=/odm/etc/camera/mmi7cm/prague_imx486_sunny/