PRAGUE_IMX386E3_OFILM=/odm/etc/camera/smartae/imx386e3/
PRAGUE_IMX386E3_SUNNY=/odm/etc/camera/smartae/imx386e3/
PRAGUE_OV12870E3_LITEON=/odm/etc/camera/smartae/ov12870e3/
PRAGUE_OV12A10_LITEON=/odm/etc/camera/smartae/ov12a10/
PRAGUE_OV12A10_SUNNY=/odm/etc/camera/smartae/ov12a10/
PRAGUE_OV12A10_FOXCONN=/odm/etc/camera/smartae/ov12a10/
PRAGUE_IMX219_SUNNY=/odm/etc/camera/smartae/imx219/
PRAGUE_IMX219_LITEON=/odm/etc/camera/smartae/imx219/
PRAGUE_HI843_OFILM=/odm/etc/camera/smartae/hi843/
PRAGUE_IMX486_OFILM=/odm/etc/camera/smartae/imx486/
PRAGUE_IMX486_SUNNY=/odm/etc/camera/smartae/imx486/
PRAGUE_OV8856_SUNNY=/odm/etc/camera/smartae/ov8856/