PRAGUE_IMX386E3_OFILM=/odm/etc/camera/nicefood/imx386e3/
PRAGUE_IMX386E3_SUNNY=/odm/etc/camera/nicefood/imx386e3/
PRAGUE_OV12870E3_LITEON=/odm/etc/camera/nicefood/ov12870e3/
PRAGUE_OV12A10_LITEON=/odm/etc/camera/nicefood/ov12a10/
PRAGUE_OV12A10_SUNNY=/odm/etc/camera/nicefood/ov12a10/
PRAGUE_OV12A10_FOXCONN=/odm/etc/camera/nicefood/ov12a10/
PRAGUE_IMX486_OFILM=/odm/etc/camera/nicefood/imx486/
PRAGUE_IMX486_SUNNY=/odm/etc/camera/nicefood/imx486/